.btn-bear{
    background-color: rgb(96,176,126);
    color:white

}

.btn-lobster{
    background-color: rgb(23,51,101);
    color : white;

}

.btn-canard{
    background-color: rgb(177, 81, 140);
    color: white
}

.btn-lobster2{
    background-color: rgb(195, 28, 111);
    color: white;
}

.btn-bear2 {
    background-color: rgb(73, 87, 166);
    color: white;
}

.btn-canard2 {
    background-color: rgb(78, 168, 140);
    color: white;
}