.btn-bear{
    background-color: rgb(96,176,126);
    color:white

}

.btn-lobster{
    background-color: rgb(23,51,101);
    color : white;

}

.btn-canard{
    background-color: rgb(177, 81, 140);
    color: white
}